GOOGLE_CLIENT_SECRET="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"
GOOGLE_CLIENT_ID="707464772432-4ed9nok4ourhto4lgfevl7iffa84lbqv.apps.googleusercontent.com"
NEXT_PUBLIC_SANITY_PROJECT_ID="ekoghgye"
NEXT_PUBLIC_SANITY_TOKEN="skoD4E48WqjK0Pnz8XEkjfnp5gyBnmVXzMpFvOoXCFKpaWEvBXxWylZAKbTwyPmBkKFQv06tTAoZd81P0j9cHiP8JfQVOnb2LDbr2OMkz5uDM85LYwoFXAA0O5bESM4VwgQfZwE9BTy9eiM2yY7opZ4vt3IbFLKNCrZNnBNrXIKw8o4Z4Hu7"
NEXT_PUBLIC_SANITY_API_VERSION="2023-11-11"
NEXT_PUBLIC_ROOT_URL="http://localhost:3000"
NEXTAUTH_URL="http://localhost:3000"
